{% extends 'crm_customers/layout.html' %}

{% block title %}{% endblock %}
{% block content %}
<div class="site-section bg-light">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Здравствуйте, я Береза Юрий, живу в городе Кирьят-Бялик, я очень доволен вашей службой
                            доставки посылок. Всё дошло в целости и сохранности, и то, что коробка шла морем всего три
                            недели – это очень быстро. И у вас намного дешевле и условия доставки лучше, и ограничения
                            лучше, чем на обычной почте. Большое спасибо!"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Береза Юрий</span>
                            <span>г. Кирьят-Бялик</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Возникла необходимость отправить посылку в Москву. Я воспользовалась услугами фирмы
                            DD-CARGO. Очень довольна общением с персоналом компании. Все четко и доступно объяснили:
                            сколько времени займет доставка, какова цена услуги, что можно отправить, как отследить
                            посылку. Во время отработки и доставки заказа появлялись вопросы и всегда персонал был готов
                            прийти на помощь.</p>
                        <p>В результате, все оказалось, как обещали, посылка дошла в целости и сохранности, в
                            назначенный срок. Для меня это был первый опыт по отправке посылок, рада, что не ошиблась с
                            выбором компании."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Римма Мураховская</span>
                            <span>г. Реховот</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Я пользовался услугами этой почты. Всем очень доволен. Понравилось, что не нужно стоять в
                            очередях.</p>
                        <p>Мне привезли коробку, я сложил туда все, что нужно отправить, через неделю коробку забрали и
                            отправили по нужному адресу. Отвечали на все вопросы, которые у меня возникали по ходу
                            дела."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Анзор Есиев</span>
                            <span>г. Ашдод</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Большое спасибо за обслуживание. Я очень довольна и с удовольствием буду вашими пользоваться
                            услугами!!!!"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Осинова Анжелика</span>
                            <span>г. Ашдод</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Хотим поблагодарить вашу компанию! Посылка доставлена в срок по месту назначения!!
                            Сотрудники все очень вежливые и приветливые, что не маловажно для клиентов и приятно!!! В
                            дальнейшем будем пользоваться услугами вашей компании. Удачи вам и процветания!!!"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Людмила Гендена</span>
                            <span>г. Петах-Тиква</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Сервис по доставке посылки занял больше времени, чем я ожидал, возможно, из-за
                            короно-вируса. К самому сервису претензий нет. Всё остальное было, как договаривались.
                            Посылку доставили в целости и сохранности до дверей адресата.</p>
                        <p>Большое спасибо. Буду рад воспользоваться услугами компании ещё и рекомендую другим."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Геннадий Палей</span>
                            <span>г. Кирьят Ям</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Посылка из Украины в Израиль пришла вовремя и без повреждений. Принесли домой!!!</p>
                        <p>Я довольна!!!"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <div class="author-name">
                            <span class="d-block">Мара Сурмач</span>
                            <span>г. Афула</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5">
    <div class="container">
        {% if request.user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-lg-10 mb-4 mb-md-0">
                    <p class="mb-0 opa-7">
                        {{ review }}
                    </p>
                </div>
                <div class="col-lg-2 text-md-right mt-4">
                    <button type="submit" class="btn btn-primary btn-white">Сохранить отзыв</button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-md-0">
                <h2 class="mb-0 text-white">Желаете поделиться Вашим мнением о нас?</h2>
                <p class="mb-0 opa-7">Это делается очень просто. Достаточно зарегестрироваться на нашем сайте. Это
                    позволит не только оставлять отзывы, но и делать много чего еще. Попробуйте!</p>
            </div>
            <div class="col-lg-5 text-md-right">
                <a href="{% url 'sign_up' %}" class="btn btn-primary btn-white">Зарегестрироваться</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
