<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4">About as</h2>
              <p>We are a young and promising team of specialists in their field. We are guaranteed to deliver your parcels and constantly strengthen our partnership with you. </p>
              <ul class="list-unstyled social">
                <li><a href="www.linkedin.com/in/ychernyshev"><span class="icon-linkedin" target="_blank"></span></a></li>
                <li><a href="https://github.com/Eugene-and-sandbox/eugene-chernyshev-portfolio"><span class="icon-github" target="_blank"></span></a></li>
                <li><a href="https://www.facebook.com/eugene.chernishev"><span class="icon-facebook" target="_blank"></span></a></li>
              </ul>
            </div>
            <div class="col-lg-8 ml-auto">
              <div class="row">
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Menu</h2>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'crm_customers:home' %}">Home</a></li>
                    <li><a href="{% url 'crm_customers:price' %}">Price</a></li>
                    <li><a href="{% url 'crm_customers:rules' %}">Import rules</a></li>
                    <li><a href="{% url 'crm_customers:guarantee' %}">Guarantee</a></li>
                    <li><a href="{% url 'crm_customers:reviews' %}">Feedback</a></li>
                    <li><a href="{% url 'crm_customers:contacts' %}">Contacts</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Rosourse</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Import rules</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Support</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">Answers</a></li>
                    <li><a href="#">Infografics</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Request a call</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Our company</h2>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'crm_customers:about' %}">About as</a></li>
                    <li><a href="#">Our success in numbers</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Eugene Chernyshev</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>
