<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4">Про нас</h2>
              <p>Мы молодая и перспективная команда специалистов своего дела. Мы гарантировано доставляем ваши посылки и постоянно укрепляем наши партнерские взаимоотношения с вами. </p>
              <ul class="list-unstyled social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
            <div class="col-lg-8 ml-auto">
              <div class="row">
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Меню переходов</h2>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'crm_customers:home' %}">Главная</a></li>
                    <li><a href="{% url 'crm_customers:price' %}">Цены</a></li>
                    <li><a href="{% url 'crm_customers:rules' %}">Правила ввоза</a></li>
                    <li><a href="{% url 'crm_customers:guarantee' %}">Гарантия</a></li>
                    <li><a href="{% url 'crm_customers:reviews' %}">Отзывы</a></li>
                    <li><a href="{% url 'crm_customers:contacts' %}">Контакты</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Ресурсы</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Правила ввоза</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Поддержка</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">Готовые ответы</a></li>
                    <li><a href="#">Инфографика</a></li>
                    <li><a href="#">Форум</a></li>
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Заказать звонок</a></li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <h2 class="footer-heading mb-4">Наша комания</h2>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'crm_customers:about' %}">Про нас</a></li>
                    <li><a href="#">Наши успехи в цифрах</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Eugene Chernyshev</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>